* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

.container h1 img {
  width: 60px;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #9418fd, #571094);
  color: #000;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
  margin: 30px 0 20px;
}

.container button img {
  width: 25px;
  margin-right: 10px;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.input-box {
  /* position: relative; */
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  min-height: 80px; /* ⭐ important */
  width: 100%; /* fills note */
  flex: 1;
  line-height: 1.5;
  white-space: pre-wrap; /* keeps line breaks */
  word-break: break-word; /* long text wraps */
  overflow-wrap: break-word;
  padding-right: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.note .delete {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: -23px;
  bottom: 5px;
  flex-shrink: 0;
}
.input-box:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px #9418fd;
}
.container button:hover {
  transform: scale(1.05);
}
.input-box:empty:before {
  content: "Write something…";
  color: #999;
  pointer-events: none;
}
.delete:hover{
  transform: scale(1.15);
}